{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1><span>Welcome to the</span> Vacancy Repository</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Description</th>
                </tr>
                {% set counter = 0 %}
                {% for vacancy in vacancyList %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td>{{ vacancy.id }}</td>
                        <td><a href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.title }}</a></td>
                        <td>{{ vacancy.content }}</td>
                        <td>{{ vacancy.description }}</td>
                    </tr>
                {% endfor %}
                {% if vacancyList is empty %}
                    <tr>
                        <td colspan="5">No vacancies on database</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
