{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Create new Vacancy</h1>

    {{ form(form) }}

    {% if delete_form is defined %}
        {{ form(delete_form) }}
    {% endif %}

{% endblock %}
