{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12">
            <h1>Vacancy</h1>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ entity.content }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('homepage') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('vacancy_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
